[submodule "submodule-test-a"]
	path = submodule-test-a
	url = https://github.com/yangzhaofeng/submodule-test-a.git
[submodule "submodule-test-b"]
	path = submodule-test-b
	url = https://github.com/yangzhaofeng/submodule-test-b.git
